/* .container {
    width: 700px;
    height: 700px;
    outline: 5px solid red;
    margin: 0 auto;
    position: relative;
}

.list{
    margin: 0;
    padding: 0;

position: relative;
}

.item.item:nth-child(1) {
    background-color: red;
    position: absolute;
}

.item.item:nth-child(2) {
    background-color: green;
    position: absolute;
    top: 150;
    left: 250;

}

.item.item:nth-child(3) {
    background-color: blue;
    position: absolute;
}

.item.item:nth-child(4) {
    background-color: orange;
    position: absolute;
}

.item.item:nth-child(5) {
    background-color: yellow;
    position: absolute;
} */



.box {
    width: 200px;
    height: 200px;
    outline: 1px solid red;
    border-radius: 10px;
    overflow: scroll;
    position: relative;
}

.imges {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
}