.box{
    width: 500px;
    outline: 5px solid red;
    margin: 0 auto;
}

.text{
    font-size: 24px;
    text-transform: capitalize;
    /* white-space: pre-wrap; */
    /* text-transform: uppercase; */
word-break: break-all;
letter-spacing: 5px;
word-spacing: 10px;
}

.desk{
text-transform: uppercase;
}

.abubo{
    text-decoration: none;
}

